# Fraud Detection

**_Fraud Detection_** dalam transaksi daring menggunakan *Machine Learning* merupakan suatu pendekatan mutakhir dalam melawan ancaman *fraud* dalam lingkungan digital. Dengan pertumbuhan pesat transaksi daring, penting bagi perusahaan untuk memiliki sistem yang mampu mengidentifikasi dan mencegah transaksi yang mencurigakan.

**_Fraud Detection_** merupakan perangkat analisa data untuk mengetahui pola *fraud* dalam transaksi daring berdasarkan profile identitas transaksi dan data transaksi yang telah tersedia.

Kumpulan data ini berisi rincian identitas transaksi dan data transaksi. Variabel target pada studi kasus kali ini adalah variabel biner yakni tidak fraud (0) dan fraud (1). Variabel fitur akan diproses guna memprediksi apakah transaksi terindikasi fraud atau tidak fraud.

Metrik **_Precision_** menghitung rasio True Positive dibandingkan dengan keseluruhan yang diprediksi positive. Hal ini menunjukkan bahwa metode yang digunakan akan fokus memperkecil nilai False Positive (FP) yang berarti mesti menaikkan threshold. Meningkatkan threshold juga dapat mengurangi jumlah True Positive (TP) dan meningkatkan jumlah False Negative (FN). Mengurangi jumlah False Positive (prediksi penipuan yang salah) sangat diperlukan untuk menghindari biaya dan kerugian yang tidak perlu akibat tindakan yang salah terhadap transaksi yang sebenarnya sah.

Namun, **_Recall_** sering kali menjadi metrik yang lebih penting. Hal ini karena tujuan utama dalam deteksi fraud adalah untuk mengidentifikasi sebanyak mungkin kasus penipuan yang sebenarnya. Jumlah False Negative (kasus penipuan yang terlewat) harus diminimalkan agar tidak kehilangan penipuan yang sebenarnya.

Penulis menetapkan metrik bisnis sebagai acuan project machine learning ini dibuat adalah **_F1-Score_** dan **_area under the precision-recall curve (AUPRC)_** hal ini dapat memberikan gambaran yang lebih holistik tentang kinerja model dalam deteksi fraud. Metrik-metrik ini mencoba untuk menyeimbangkan antara precision dan recall.

# Data Preparation

## Importasi Library

In [1]:
#Import library untuk data preparation dan visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# import warnings for ignore the warnings
import warnings 
warnings.filterwarnings("ignore")

# import pickle and json file for columns and model file
import pickle
import json
import joblib
import copy

# Import train test split untuk splitting data
from sklearn.model_selection import train_test_split
import yaml
import src.util as util
from tqdm import tqdm
import os

In [2]:
config_data = util.load_config()

## Data Gathering

Data Fraud Detection saat ini menggunakan data yang disadur dari kaggle dengan laman :
    
 * https://www.kaggle.com/competitions/ieee-fraud-detection/data

In [3]:
#Fungsi read data
def read_raw_data(config: dict) -> pd.DataFrame:
    # Create variable to store raw dataset
    raw_dataset = pd.DataFrame()

    # Raw dataset dir
    raw_dataset_dir_1 = config["raw_dataset_path_1"]
    raw_dataset_dir_2 = config["raw_dataset_path_2"]
    
    train_transaction = pd.read_csv(raw_dataset_dir_1)
    
    # Read train_identity.csv
    train_identity = pd.read_csv(raw_dataset_dir_2)
    
    # Merge train_transaction and train_identity based on 'TransactionID'
    train_set = pd.merge(train_transaction, train_identity, how='left', on='TransactionID')

    # Return raw dataset
    return train_set

In [4]:
# read data menggunakan fungsi read_raw_data
train_set = read_raw_data(config_data)

In [5]:
#Sanity Check
train_set

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Definition

Data yang digunakan merupakan data yang menggambarkan identitas transaksi dan data transaksi yang memiliki label fraud dan tidak fraud. adapun fitur profile nasabah yang digunakan antara lain

Data berisi 590540 rows × 434 columns yaitu :

* TransactionID: ID unik untuk setiap transaksi.
* isFraud: Variabel target yang menandakan apakah transaksi tersebut merupakan fraud (penipuan) atau tidak fraud (penipuan).
* TransactionDT: Waktu transaksi dalam satuan detik sejak waktu awal (referensi).
* TransactionAmt: Jumlah transaksi dalam mata uang asli.
* ProductCD: Jenis produk yang digunakan dalam transaksi.
* card1 - card6: Informasi terkait kartu kredit seperti jenis, kategori, dan penerbit.
* addr1 - addr2: Informasi terkait alamat pelanggan.
* P_emaildomain dan R_emaildomain: Domain email pelanggan yang terkait dengan transaksi pengirim (P) atau penerima (R).
* C1 - C14: Fitur perhitungan yang berhubungan dengan kartu kredit.
* D1 - D15: Fitur perhitungan yang mencerminkan waktu antara transaksi.
* M1 - M9: Fitur kategorikal yang mengindikasikan kecocokan antara nama di kartu, alamat, dan alamat email.
* V1 - V339: Fitur-fitur yang dihasilkan oleh PCA dan berisi informasi terkait dengan transaksi.
* TransactionID: ID unik untuk setiap transaksi.
* id-01 hingga id-38: Fitur-fitur identitas yang mengandung informasi terkait dengan profil identitas pelanggan.
* DeviceType: Jenis perangkat yang digunakan oleh pelanggan saat melakukan transaksi.
* DeviceInfo: Informasi terkait dengan perangkat yang digunakan oleh pelanggan saat melakukan transaksi.
* id_12 - id_38: Fitur-fitur identitas tambahan yang memberikan informasi tambahan tentang profil identitas pelanggan.

## Data Validation

Proses mengevaluasi dan memvalidasi integritas, kualitas, dan kecocokan data yang digunakan dalam proses pembangunan dan evaluasi model machine learning. Hal ini bertujuan untuk memastikan bahwa data yang digunakan memenuhi persyaratan dan standar yang diperlukan untuk menghasilkan model yang akurat dan dapat diandalkan.

In [6]:
# Check Tipe Data
# Mendapatkan tipe data dari setiap kolom
column_data_types = train_set.dtypes.to_dict()

# Menampilkan tipe data kolom
for column, dtype in column_data_types.items():
    print(f"Column: {column}, Data Type: {dtype}")

Column: TransactionID, Data Type: int64
Column: isFraud, Data Type: int64
Column: TransactionDT, Data Type: int64
Column: TransactionAmt, Data Type: float64
Column: ProductCD, Data Type: object
Column: card1, Data Type: int64
Column: card2, Data Type: float64
Column: card3, Data Type: float64
Column: card4, Data Type: object
Column: card5, Data Type: float64
Column: card6, Data Type: object
Column: addr1, Data Type: float64
Column: addr2, Data Type: float64
Column: dist1, Data Type: float64
Column: dist2, Data Type: float64
Column: P_emaildomain, Data Type: object
Column: R_emaildomain, Data Type: object
Column: C1, Data Type: float64
Column: C2, Data Type: float64
Column: C3, Data Type: float64
Column: C4, Data Type: float64
Column: C5, Data Type: float64
Column: C6, Data Type: float64
Column: C7, Data Type: float64
Column: C8, Data Type: float64
Column: C9, Data Type: float64
Column: C10, Data Type: float64
Column: C11, Data Type: float64
Column: C12, Data Type: float64
Column: C13, Data Type: float64
Column: C14, Data Type: float64
Column: D1, Data Type: float64
Column: D2, Data Type: float64
Column: D3, Data Type: float64
Column: D4, Data Type: float64
Column: D5, Data Type: float64
Column: D6, Data Type: float64
Column: D7, Data Type: float64
Column: D8, Data Type: float64
Column: D9, Data Type: float64
Column: D10, Data Type: float64
Column: D11, Data Type: float64
Column: D12, Data Type: float64
Column: D13, Data Type: float64
Column: D14, Data Type: float64
Column: D15, Data Type: float64
Column: M1, Data Type: object
Column: M2, Data Type: object
Column: M3, Data Type: object
Column: M4, Data Type: object
Column: M5, Data Type: object
Column: M6, Data Type: object
Column: M7, Data Type: object
Column: M8, Data Type: object
Column: M9, Data Type: object
Column: V1, Data Type: float64
Column: V2, Data Type: float64
Column: V3, Data Type: float64
Column: V4, Data Type: float64
Column: V5, Data Type: float64
Column: V6, Data Type: float64
Column: V7, Data Type: float64
Column: V8, Data Type: float64
Column: V9, Data Type: float64
Column: V10, Data Type: float64
Column: V11, Data Type: float64
Column: V12, Data Type: float64
Column: V13, Data Type: float64
Column: V14, Data Type: float64
Column: V15, Data Type: float64
Column: V16, Data Type: float64
Column: V17, Data Type: float64
Column: V18, Data Type: float64
Column: V19, Data Type: float64
Column: V20, Data Type: float64
Column: V21, Data Type: float64
Column: V22, Data Type: float64
Column: V23, Data Type: float64
Column: V24, Data Type: float64
Column: V25, Data Type: float64
Column: V26, Data Type: float64
Column: V27, Data Type: float64
Column: V28, Data Type: float64
Column: V29, Data Type: float64
Column: V30, Data Type: float64
Column: V31, Data Type: float64
Column: V32, Data Type: float64
Column: V33, Data Type: float64
Column: V34, Data Type: float64
Column: V35, Data Type: float64
Column: V36, Data Type: float64
Column: V37, Data Type: float64
Column: V38, Data Type: float64
Column: V39, Data Type: float64
Column: V40, Data Type: float64
Column: V41, Data Type: float64
Column: V42, Data Type: float64
Column: V43, Data Type: float64
Column: V44, Data Type: float64
Column: V45, Data Type: float64
Column: V46, Data Type: float64
Column: V47, Data Type: float64
Column: V48, Data Type: float64
Column: V49, Data Type: float64
Column: V50, Data Type: float64
Column: V51, Data Type: float64
Column: V52, Data Type: float64
Column: V53, Data Type: float64
Column: V54, Data Type: float64
Column: V55, Data Type: float64
Column: V56, Data Type: float64
Column: V57, Data Type: float64
Column: V58, Data Type: float64
Column: V59, Data Type: float64
Column: V60, Data Type: float64
Column: V61, Data Type: float64
Column: V62, Data Type: float64
Column: V63, Data Type: float64
Column: V64, Data Type: float64
Column: V65, Data Type: float64
Column: V66, Data Type: float64
Column: V67, Data Type: float64
Column: V68, Data Type: float64
Column: V69, Data Type: float64
Column: V70, Data Type: float64
Column: V71, Data Type: float64
Column: V72, Data Type: float64
Column: V73, Data Type: float64
Column: V74, Data Type: float64
Column: V75, Data Type: float64
Column: V76, Data Type: float64
Column: V77, Data Type: float64
Column: V78, Data Type: float64
Column: V79, Data Type: float64
Column: V80, Data Type: float64
Column: V81, Data Type: float64
Column: V82, Data Type: float64
Column: V83, Data Type: float64
Column: V84, Data Type: float64
Column: V85, Data Type: float64
Column: V86, Data Type: float64
Column: V87, Data Type: float64
Column: V88, Data Type: float64
Column: V89, Data Type: float64
Column: V90, Data Type: float64
Column: V91, Data Type: float64
Column: V92, Data Type: float64
Column: V93, Data Type: float64
Column: V94, Data Type: float64
Column: V95, Data Type: float64
Column: V96, Data Type: float64
Column: V97, Data Type: float64
Column: V98, Data Type: float64
Column: V99, Data Type: float64
Column: V100, Data Type: float64
Column: V101, Data Type: float64
Column: V102, Data Type: float64
Column: V103, Data Type: float64
Column: V104, Data Type: float64
Column: V105, Data Type: float64
Column: V106, Data Type: float64
Column: V107, Data Type: float64
Column: V108, Data Type: float64
Column: V109, Data Type: float64
Column: V110, Data Type: float64
Column: V111, Data Type: float64
Column: V112, Data Type: float64
Column: V113, Data Type: float64
Column: V114, Data Type: float64
Column: V115, Data Type: float64
Column: V116, Data Type: float64
Column: V117, Data Type: float64
Column: V118, Data Type: float64
Column: V119, Data Type: float64
Column: V120, Data Type: float64
Column: V121, Data Type: float64
Column: V122, Data Type: float64
Column: V123, Data Type: float64
Column: V124, Data Type: float64
Column: V125, Data Type: float64
Column: V126, Data Type: float64
Column: V127, Data Type: float64
Column: V128, Data Type: float64
Column: V129, Data Type: float64
Column: V130, Data Type: float64
Column: V131, Data Type: float64
Column: V132, Data Type: float64
Column: V133, Data Type: float64
Column: V134, Data Type: float64
Column: V135, Data Type: float64
Column: V136, Data Type: float64
Column: V137, Data Type: float64
Column: V138, Data Type: float64
Column: V139, Data Type: float64
Column: V140, Data Type: float64
Column: V141, Data Type: float64
Column: V142, Data Type: float64
Column: V143, Data Type: float64
Column: V144, Data Type: float64
Column: V145, Data Type: float64
Column: V146, Data Type: float64
Column: V147, Data Type: float64
Column: V148, Data Type: float64
Column: V149, Data Type: float64
Column: V150, Data Type: float64
Column: V151, Data Type: float64
Column: V152, Data Type: float64
Column: V153, Data Type: float64
Column: V154, Data Type: float64
Column: V155, Data Type: float64
Column: V156, Data Type: float64
Column: V157, Data Type: float64
Column: V158, Data Type: float64
Column: V159, Data Type: float64
Column: V160, Data Type: float64
Column: V161, Data Type: float64
Column: V162, Data Type: float64
Column: V163, Data Type: float64
Column: V164, Data Type: float64
Column: V165, Data Type: float64
Column: V166, Data Type: float64
Column: V167, Data Type: float64
Column: V168, Data Type: float64
Column: V169, Data Type: float64
Column: V170, Data Type: float64
Column: V171, Data Type: float64
Column: V172, Data Type: float64
Column: V173, Data Type: float64
Column: V174, Data Type: float64
Column: V175, Data Type: float64
Column: V176, Data Type: float64
Column: V177, Data Type: float64
Column: V178, Data Type: float64
Column: V179, Data Type: float64
Column: V180, Data Type: float64
Column: V181, Data Type: float64
Column: V182, Data Type: float64
Column: V183, Data Type: float64
Column: V184, Data Type: float64
Column: V185, Data Type: float64
Column: V186, Data Type: float64
Column: V187, Data Type: float64
Column: V188, Data Type: float64
Column: V189, Data Type: float64
Column: V190, Data Type: float64
Column: V191, Data Type: float64
Column: V192, Data Type: float64
Column: V193, Data Type: float64
Column: V194, Data Type: float64
Column: V195, Data Type: float64
Column: V196, Data Type: float64
Column: V197, Data Type: float64
Column: V198, Data Type: float64
Column: V199, Data Type: float64
Column: V200, Data Type: float64
Column: V201, Data Type: float64
Column: V202, Data Type: float64
Column: V203, Data Type: float64
Column: V204, Data Type: float64
Column: V205, Data Type: float64
Column: V206, Data Type: float64
Column: V207, Data Type: float64
Column: V208, Data Type: float64
Column: V209, Data Type: float64
Column: V210, Data Type: float64
Column: V211, Data Type: float64
Column: V212, Data Type: float64
Column: V213, Data Type: float64
Column: V214, Data Type: float64
Column: V215, Data Type: float64
Column: V216, Data Type: float64
Column: V217, Data Type: float64
Column: V218, Data Type: float64
Column: V219, Data Type: float64
Column: V220, Data Type: float64
Column: V221, Data Type: float64
Column: V222, Data Type: float64
Column: V223, Data Type: float64
Column: V224, Data Type: float64
Column: V225, Data Type: float64
Column: V226, Data Type: float64
Column: V227, Data Type: float64
Column: V228, Data Type: float64
Column: V229, Data Type: float64
Column: V230, Data Type: float64
Column: V231, Data Type: float64
Column: V232, Data Type: float64
Column: V233, Data Type: float64
Column: V234, Data Type: float64
Column: V235, Data Type: float64
Column: V236, Data Type: float64
Column: V237, Data Type: float64
Column: V238, Data Type: float64
Column: V239, Data Type: float64
Column: V240, Data Type: float64
Column: V241, Data Type: float64
Column: V242, Data Type: float64
Column: V243, Data Type: float64
Column: V244, Data Type: float64
Column: V245, Data Type: float64
Column: V246, Data Type: float64
Column: V247, Data Type: float64
Column: V248, Data Type: float64
Column: V249, Data Type: float64
Column: V250, Data Type: float64
Column: V251, Data Type: float64
Column: V252, Data Type: float64
Column: V253, Data Type: float64
Column: V254, Data Type: float64
Column: V255, Data Type: float64
Column: V256, Data Type: float64
Column: V257, Data Type: float64
Column: V258, Data Type: float64
Column: V259, Data Type: float64
Column: V260, Data Type: float64
Column: V261, Data Type: float64
Column: V262, Data Type: float64
Column: V263, Data Type: float64
Column: V264, Data Type: float64
Column: V265, Data Type: float64
Column: V266, Data Type: float64
Column: V267, Data Type: float64
Column: V268, Data Type: float64
Column: V269, Data Type: float64
Column: V270, Data Type: float64
Column: V271, Data Type: float64
Column: V272, Data Type: float64
Column: V273, Data Type: float64
Column: V274, Data Type: float64
Column: V275, Data Type: float64
Column: V276, Data Type: float64
Column: V277, Data Type: float64
Column: V278, Data Type: float64
Column: V279, Data Type: float64
Column: V280, Data Type: float64
Column: V281, Data Type: float64
Column: V282, Data Type: float64
Column: V283, Data Type: float64
Column: V284, Data Type: float64
Column: V285, Data Type: float64
Column: V286, Data Type: float64
Column: V287, Data Type: float64
Column: V288, Data Type: float64
Column: V289, Data Type: float64
Column: V290, Data Type: float64
Column: V291, Data Type: float64
Column: V292, Data Type: float64
Column: V293, Data Type: float64
Column: V294, Data Type: float64
Column: V295, Data Type: float64
Column: V296, Data Type: float64
Column: V297, Data Type: float64
Column: V298, Data Type: float64
Column: V299, Data Type: float64
Column: V300, Data Type: float64
Column: V301, Data Type: float64
Column: V302, Data Type: float64
Column: V303, Data Type: float64
Column: V304, Data Type: float64
Column: V305, Data Type: float64
Column: V306, Data Type: float64
Column: V307, Data Type: float64
Column: V308, Data Type: float64
Column: V309, Data Type: float64
Column: V310, Data Type: float64
Column: V311, Data Type: float64
Column: V312, Data Type: float64
Column: V313, Data Type: float64
Column: V314, Data Type: float64
Column: V315, Data Type: float64
Column: V316, Data Type: float64
Column: V317, Data Type: float64
Column: V318, Data Type: float64
Column: V319, Data Type: float64
Column: V320, Data Type: float64
Column: V321, Data Type: float64
Column: V322, Data Type: float64
Column: V323, Data Type: float64
Column: V324, Data Type: float64
Column: V325, Data Type: float64
Column: V326, Data Type: float64
Column: V327, Data Type: float64
Column: V328, Data Type: float64
Column: V329, Data Type: float64
Column: V330, Data Type: float64
Column: V331, Data Type: float64
Column: V332, Data Type: float64
Column: V333, Data Type: float64
Column: V334, Data Type: float64
Column: V335, Data Type: float64
Column: V336, Data Type: float64
Column: V337, Data Type: float64
Column: V338, Data Type: float64
Column: V339, Data Type: float64
Column: id_01, Data Type: float64
Column: id_02, Data Type: float64
Column: id_03, Data Type: float64
Column: id_04, Data Type: float64
Column: id_05, Data Type: float64
Column: id_06, Data Type: float64
Column: id_07, Data Type: float64
Column: id_08, Data Type: float64
Column: id_09, Data Type: float64
Column: id_10, Data Type: float64
Column: id_11, Data Type: float64
Column: id_12, Data Type: object
Column: id_13, Data Type: float64
Column: id_14, Data Type: float64
Column: id_15, Data Type: object
Column: id_16, Data Type: object
Column: id_17, Data Type: float64
Column: id_18, Data Type: float64
Column: id_19, Data Type: float64
Column: id_20, Data Type: float64
Column: id_21, Data Type: float64
Column: id_22, Data Type: float64
Column: id_23, Data Type: object
Column: id_24, Data Type: float64
Column: id_25, Data Type: float64
Column: id_26, Data Type: float64
Column: id_27, Data Type: object
Column: id_28, Data Type: object
Column: id_29, Data Type: object
Column: id_30, Data Type: object
Column: id_31, Data Type: object
Column: id_32, Data Type: float64
Column: id_33, Data Type: object
Column: id_34, Data Type: object
Column: id_35, Data Type: object
Column: id_36, Data Type: object
Column: id_37, Data Type: object
Column: id_38, Data Type: object
Column: DeviceType, Data Type: object
Column: DeviceInfo, Data Type: object

In [7]:
# melihat nilai nul dari masing-masing kolom
# Menggunakan loop untuk melihat persentase nilai null pada masing-masing kolom
for column in train_set.columns:
    null_percentage = train_set[column].isnull().mean() * 100
    print(f"Persentase nilai null pada kolom {column}: {null_percentage:.2f}%")

Persentase nilai null pada kolom TransactionID: 0.00%
Persentase nilai null pada kolom isFraud: 0.00%
Persentase nilai null pada kolom TransactionDT: 0.00%
Persentase nilai null pada kolom TransactionAmt: 0.00%
Persentase nilai null pada kolom ProductCD: 0.00%
Persentase nilai null pada kolom card1: 0.00%
Persentase nilai null pada kolom card2: 1.51%
Persentase nilai null pada kolom card3: 0.27%
Persentase nilai null pada kolom card4: 0.27%
Persentase nilai null pada kolom card5: 0.72%
Persentase nilai null pada kolom card6: 0.27%
Persentase nilai null pada kolom addr1: 11.13%
Persentase nilai null pada kolom addr2: 11.13%
Persentase nilai null pada kolom dist1: 59.65%
Persentase nilai null pada kolom dist2: 93.63%
Persentase nilai null pada kolom P_emaildomain: 15.99%
Persentase nilai null pada kolom R_emaildomain: 76.75%
Persentase nilai null pada kolom C1: 0.00%
Persentase nilai null pada kolom C2: 0.00%
Persentase nilai null pada kolom C3: 0.00%
Persentase nilai null pada kolom C4: 0.00%
Persentase nilai null pada kolom C5: 0.00%
Persentase nilai null pada kolom C6: 0.00%
Persentase nilai null pada kolom C7: 0.00%
Persentase nilai null pada kolom C8: 0.00%
Persentase nilai null pada kolom C9: 0.00%
Persentase nilai null pada kolom C10: 0.00%
Persentase nilai null pada kolom C11: 0.00%
Persentase nilai null pada kolom C12: 0.00%
Persentase nilai null pada kolom C13: 0.00%
Persentase nilai null pada kolom C14: 0.00%
Persentase nilai null pada kolom D1: 0.21%
Persentase nilai null pada kolom D2: 47.55%
Persentase nilai null pada kolom D3: 44.51%
Persentase nilai null pada kolom D4: 28.60%
Persentase nilai null pada kolom D5: 52.47%
Persentase nilai null pada kolom D6: 87.61%
Persentase nilai null pada kolom D7: 93.41%
Persentase nilai null pada kolom D8: 87.31%
Persentase nilai null pada kolom D9: 87.31%
Persentase nilai null pada kolom D10: 12.87%
Persentase nilai null pada kolom D11: 47.29%
Persentase nilai null pada kolom D12: 89.04%
Persentase nilai null pada kolom D13: 89.51%
Persentase nilai null pada kolom D14: 89.47%
Persentase nilai null pada kolom D15: 15.09%
Persentase nilai null pada kolom M1: 45.91%
Persentase nilai null pada kolom M2: 45.91%
Persentase nilai null pada kolom M3: 45.91%
Persentase nilai null pada kolom M4: 47.66%
Persentase nilai null pada kolom M5: 59.35%
Persentase nilai null pada kolom M6: 28.68%
Persentase nilai null pada kolom M7: 58.64%
Persentase nilai null pada kolom M8: 58.63%
Persentase nilai null pada kolom M9: 58.63%
Persentase nilai null pada kolom V1: 47.29%
Persentase nilai null pada kolom V2: 47.29%
Persentase nilai null pada kolom V3: 47.29%
Persentase nilai null pada kolom V4: 47.29%
Persentase nilai null pada kolom V5: 47.29%
Persentase nilai null pada kolom V6: 47.29%
Persentase nilai null pada kolom V7: 47.29%
Persentase nilai null pada kolom V8: 47.29%
Persentase nilai null pada kolom V9: 47.29%
Persentase nilai null pada kolom V10: 47.29%
Persentase nilai null pada kolom V11: 47.29%
Persentase nilai null pada kolom V12: 12.88%
Persentase nilai null pada kolom V13: 12.88%
Persentase nilai null pada kolom V14: 12.88%
Persentase nilai null pada kolom V15: 12.88%
Persentase nilai null pada kolom V16: 12.88%
Persentase nilai null pada kolom V17: 12.88%
Persentase nilai null pada kolom V18: 12.88%
Persentase nilai null pada kolom V19: 12.88%
Persentase nilai null pada kolom V20: 12.88%
Persentase nilai null pada kolom V21: 12.88%
Persentase nilai null pada kolom V22: 12.88%
Persentase nilai null pada kolom V23: 12.88%
Persentase nilai null pada kolom V24: 12.88%
Persentase nilai null pada kolom V25: 12.88%
Persentase nilai null pada kolom V26: 12.88%
Persentase nilai null pada kolom V27: 12.88%
Persentase nilai null pada kolom V28: 12.88%
Persentase nilai null pada kolom V29: 12.88%
Persentase nilai null pada kolom V30: 12.88%
Persentase nilai null pada kolom V31: 12.88%
Persentase nilai null pada kolom V32: 12.88%
Persentase nilai null pada kolom V33: 12.88%
Persentase nilai null pada kolom V34: 12.88%
Persentase nilai null pada kolom V35: 28.61%
Persentase nilai null pada kolom V36: 28.61%
Persentase nilai null pada kolom V37: 28.61%
Persentase nilai null pada kolom V38: 28.61%
Persentase nilai null pada kolom V39: 28.61%
Persentase nilai null pada kolom V40: 28.61%
Persentase nilai null pada kolom V41: 28.61%
Persentase nilai null pada kolom V42: 28.61%
Persentase nilai null pada kolom V43: 28.61%
Persentase nilai null pada kolom V44: 28.61%
Persentase nilai null pada kolom V45: 28.61%
Persentase nilai null pada kolom V46: 28.61%
Persentase nilai null pada kolom V47: 28.61%
Persentase nilai null pada kolom V48: 28.61%
Persentase nilai null pada kolom V49: 28.61%
Persentase nilai null pada kolom V50: 28.61%
Persentase nilai null pada kolom V51: 28.61%
Persentase nilai null pada kolom V52: 28.61%
Persentase nilai null pada kolom V53: 13.06%
Persentase nilai null pada kolom V54: 13.06%
Persentase nilai null pada kolom V55: 13.06%
Persentase nilai null pada kolom V56: 13.06%
Persentase nilai null pada kolom V57: 13.06%
Persentase nilai null pada kolom V58: 13.06%
Persentase nilai null pada kolom V59: 13.06%
Persentase nilai null pada kolom V60: 13.06%
Persentase nilai null pada kolom V61: 13.06%
Persentase nilai null pada kolom V62: 13.06%
Persentase nilai null pada kolom V63: 13.06%
Persentase nilai null pada kolom V64: 13.06%
Persentase nilai null pada kolom V65: 13.06%
Persentase nilai null pada kolom V66: 13.06%
Persentase nilai null pada kolom V67: 13.06%
Persentase nilai null pada kolom V68: 13.06%
Persentase nilai null pada kolom V69: 13.06%
Persentase nilai null pada kolom V70: 13.06%
Persentase nilai null pada kolom V71: 13.06%
Persentase nilai null pada kolom V72: 13.06%
Persentase nilai null pada kolom V73: 13.06%
Persentase nilai null pada kolom V74: 13.06%
Persentase nilai null pada kolom V75: 15.10%
Persentase nilai null pada kolom V76: 15.10%
Persentase nilai null pada kolom V77: 15.10%
Persentase nilai null pada kolom V78: 15.10%
Persentase nilai null pada kolom V79: 15.10%
Persentase nilai null pada kolom V80: 15.10%
Persentase nilai null pada kolom V81: 15.10%
Persentase nilai null pada kolom V82: 15.10%
Persentase nilai null pada kolom V83: 15.10%
Persentase nilai null pada kolom V84: 15.10%
Persentase nilai null pada kolom V85: 15.10%
Persentase nilai null pada kolom V86: 15.10%
Persentase nilai null pada kolom V87: 15.10%
Persentase nilai null pada kolom V88: 15.10%
Persentase nilai null pada kolom V89: 15.10%
Persentase nilai null pada kolom V90: 15.10%
Persentase nilai null pada kolom V91: 15.10%
Persentase nilai null pada kolom V92: 15.10%
Persentase nilai null pada kolom V93: 15.10%
Persentase nilai null pada kolom V94: 15.10%
Persentase nilai null pada kolom V95: 0.05%
Persentase nilai null pada kolom V96: 0.05%
Persentase nilai null pada kolom V97: 0.05%
Persentase nilai null pada kolom V98: 0.05%
Persentase nilai null pada kolom V99: 0.05%
Persentase nilai null pada kolom V100: 0.05%
Persentase nilai null pada kolom V101: 0.05%
Persentase nilai null pada kolom V102: 0.05%
Persentase nilai null pada kolom V103: 0.05%
Persentase nilai null pada kolom V104: 0.05%
Persentase nilai null pada kolom V105: 0.05%
Persentase nilai null pada kolom V106: 0.05%
Persentase nilai null pada kolom V107: 0.05%
Persentase nilai null pada kolom V108: 0.05%
Persentase nilai null pada kolom V109: 0.05%
Persentase nilai null pada kolom V110: 0.05%
Persentase nilai null pada kolom V111: 0.05%
Persentase nilai null pada kolom V112: 0.05%
Persentase nilai null pada kolom V113: 0.05%
Persentase nilai null pada kolom V114: 0.05%
Persentase nilai null pada kolom V115: 0.05%
Persentase nilai null pada kolom V116: 0.05%
Persentase nilai null pada kolom V117: 0.05%
Persentase nilai null pada kolom V118: 0.05%
Persentase nilai null pada kolom V119: 0.05%
Persentase nilai null pada kolom V120: 0.05%
Persentase nilai null pada kolom V121: 0.05%
Persentase nilai null pada kolom V122: 0.05%
Persentase nilai null pada kolom V123: 0.05%
Persentase nilai null pada kolom V124: 0.05%
Persentase nilai null pada kolom V125: 0.05%
Persentase nilai null pada kolom V126: 0.05%
Persentase nilai null pada kolom V127: 0.05%
Persentase nilai null pada kolom V128: 0.05%
Persentase nilai null pada kolom V129: 0.05%
Persentase nilai null pada kolom V130: 0.05%
Persentase nilai null pada kolom V131: 0.05%
Persentase nilai null pada kolom V132: 0.05%
Persentase nilai null pada kolom V133: 0.05%
Persentase nilai null pada kolom V134: 0.05%
Persentase nilai null pada kolom V135: 0.05%
Persentase nilai null pada kolom V136: 0.05%
Persentase nilai null pada kolom V137: 0.05%
Persentase nilai null pada kolom V138: 86.12%
Persentase nilai null pada kolom V139: 86.12%
Persentase nilai null pada kolom V140: 86.12%
Persentase nilai null pada kolom V141: 86.12%
Persentase nilai null pada kolom V142: 86.12%
Persentase nilai null pada kolom V143: 86.12%
Persentase nilai null pada kolom V144: 86.12%
Persentase nilai null pada kolom V145: 86.12%
Persentase nilai null pada kolom V146: 86.12%
Persentase nilai null pada kolom V147: 86.12%
Persentase nilai null pada kolom V148: 86.12%
Persentase nilai null pada kolom V149: 86.12%
Persentase nilai null pada kolom V150: 86.12%
Persentase nilai null pada kolom V151: 86.12%
Persentase nilai null pada kolom V152: 86.12%
Persentase nilai null pada kolom V153: 86.12%
Persentase nilai null pada kolom V154: 86.12%
Persentase nilai null pada kolom V155: 86.12%
Persentase nilai null pada kolom V156: 86.12%
Persentase nilai null pada kolom V157: 86.12%
Persentase nilai null pada kolom V158: 86.12%
Persentase nilai null pada kolom V159: 86.12%
Persentase nilai null pada kolom V160: 86.12%
Persentase nilai null pada kolom V161: 86.12%
Persentase nilai null pada kolom V162: 86.12%
Persentase nilai null pada kolom V163: 86.12%
Persentase nilai null pada kolom V164: 86.12%
Persentase nilai null pada kolom V165: 86.12%
Persentase nilai null pada kolom V166: 86.12%
Persentase nilai null pada kolom V167: 76.36%
Persentase nilai null pada kolom V168: 76.36%
Persentase nilai null pada kolom V169: 76.32%
Persentase nilai null pada kolom V170: 76.32%
Persentase nilai null pada kolom V171: 76.32%
Persentase nilai null pada kolom V172: 76.36%
Persentase nilai null pada kolom V173: 76.36%
Persentase nilai null pada kolom V174: 76.32%
Persentase nilai null pada kolom V175: 76.32%
Persentase nilai null pada kolom V176: 76.36%
Persentase nilai null pada kolom V177: 76.36%
Persentase nilai null pada kolom V178: 76.36%
Persentase nilai null pada kolom V179: 76.36%
Persentase nilai null pada kolom V180: 76.32%
Persentase nilai null pada kolom V181: 76.36%
Persentase nilai null pada kolom V182: 76.36%
Persentase nilai null pada kolom V183: 76.36%
Persentase nilai null pada kolom V184: 76.32%
Persentase nilai null pada kolom V185: 76.32%
Persentase nilai null pada kolom V186: 76.36%
Persentase nilai null pada kolom V187: 76.36%
Persentase nilai null pada kolom V188: 76.32%
Persentase nilai null pada kolom V189: 76.32%
Persentase nilai null pada kolom V190: 76.36%
Persentase nilai null pada kolom V191: 76.36%
Persentase nilai null pada kolom V192: 76.36%
Persentase nilai null pada kolom V193: 76.36%
Persentase nilai null pada kolom V194: 76.32%
Persentase nilai null pada kolom V195: 76.32%
Persentase nilai null pada kolom V196: 76.36%
Persentase nilai null pada kolom V197: 76.32%
Persentase nilai null pada kolom V198: 76.32%
Persentase nilai null pada kolom V199: 76.36%
Persentase nilai null pada kolom V200: 76.32%
Persentase nilai null pada kolom V201: 76.32%
Persentase nilai null pada kolom V202: 76.36%
Persentase nilai null pada kolom V203: 76.36%
Persentase nilai null pada kolom V204: 76.36%
Persentase nilai null pada kolom V205: 76.36%
Persentase nilai null pada kolom V206: 76.36%
Persentase nilai null pada kolom V207: 76.36%
Persentase nilai null pada kolom V208: 76.32%
Persentase nilai null pada kolom V209: 76.32%
Persentase nilai null pada kolom V210: 76.32%
Persentase nilai null pada kolom V211: 76.36%
Persentase nilai null pada kolom V212: 76.36%
Persentase nilai null pada kolom V213: 76.36%
Persentase nilai null pada kolom V214: 76.36%
Persentase nilai null pada kolom V215: 76.36%
Persentase nilai null pada kolom V216: 76.36%
Persentase nilai null pada kolom V217: 77.91%
Persentase nilai null pada kolom V218: 77.91%
Persentase nilai null pada kolom V219: 77.91%
Persentase nilai null pada kolom V220: 76.05%
Persentase nilai null pada kolom V221: 76.05%
Persentase nilai null pada kolom V222: 76.05%
Persentase nilai null pada kolom V223: 77.91%
Persentase nilai null pada kolom V224: 77.91%
Persentase nilai null pada kolom V225: 77.91%
Persentase nilai null pada kolom V226: 77.91%
Persentase nilai null pada kolom V227: 76.05%
Persentase nilai null pada kolom V228: 77.91%
Persentase nilai null pada kolom V229: 77.91%
Persentase nilai null pada kolom V230: 77.91%
Persentase nilai null pada kolom V231: 77.91%
Persentase nilai null pada kolom V232: 77.91%
Persentase nilai null pada kolom V233: 77.91%
Persentase nilai null pada kolom V234: 76.05%
Persentase nilai null pada kolom V235: 77.91%
Persentase nilai null pada kolom V236: 77.91%
Persentase nilai null pada kolom V237: 77.91%
Persentase nilai null pada kolom V238: 76.05%
Persentase nilai null pada kolom V239: 76.05%
Persentase nilai null pada kolom V240: 77.91%
Persentase nilai null pada kolom V241: 77.91%
Persentase nilai null pada kolom V242: 77.91%
Persentase nilai null pada kolom V243: 77.91%
Persentase nilai null pada kolom V244: 77.91%
Persentase nilai null pada kolom V245: 76.05%
Persentase nilai null pada kolom V246: 77.91%
Persentase nilai null pada kolom V247: 77.91%
Persentase nilai null pada kolom V248: 77.91%
Persentase nilai null pada kolom V249: 77.91%
Persentase nilai null pada kolom V250: 76.05%
Persentase nilai null pada kolom V251: 76.05%
Persentase nilai null pada kolom V252: 77.91%
Persentase nilai null pada kolom V253: 77.91%
Persentase nilai null pada kolom V254: 77.91%
Persentase nilai null pada kolom V255: 76.05%
Persentase nilai null pada kolom V256: 76.05%
Persentase nilai null pada kolom V257: 77.91%
Persentase nilai null pada kolom V258: 77.91%
Persentase nilai null pada kolom V259: 76.05%
Persentase nilai null pada kolom V260: 77.91%
Persentase nilai null pada kolom V261: 77.91%
Persentase nilai null pada kolom V262: 77.91%
Persentase nilai null pada kolom V263: 77.91%
Persentase nilai null pada kolom V264: 77.91%
Persentase nilai null pada kolom V265: 77.91%
Persentase nilai null pada kolom V266: 77.91%
Persentase nilai null pada kolom V267: 77.91%
Persentase nilai null pada kolom V268: 77.91%
Persentase nilai null pada kolom V269: 77.91%
Persentase nilai null pada kolom V270: 76.05%
Persentase nilai null pada kolom V271: 76.05%
Persentase nilai null pada kolom V272: 76.05%
Persentase nilai null pada kolom V273: 77.91%
Persentase nilai null pada kolom V274: 77.91%
Persentase nilai null pada kolom V275: 77.91%
Persentase nilai null pada kolom V276: 77.91%
Persentase nilai null pada kolom V277: 77.91%
Persentase nilai null pada kolom V278: 77.91%
Persentase nilai null pada kolom V279: 0.00%
Persentase nilai null pada kolom V280: 0.00%
Persentase nilai null pada kolom V281: 0.21%
Persentase nilai null pada kolom V282: 0.21%
Persentase nilai null pada kolom V283: 0.21%
Persentase nilai null pada kolom V284: 0.00%
Persentase nilai null pada kolom V285: 0.00%
Persentase nilai null pada kolom V286: 0.00%
Persentase nilai null pada kolom V287: 0.00%
Persentase nilai null pada kolom V288: 0.21%
Persentase nilai null pada kolom V289: 0.21%
Persentase nilai null pada kolom V290: 0.00%
Persentase nilai null pada kolom V291: 0.00%
Persentase nilai null pada kolom V292: 0.00%
Persentase nilai null pada kolom V293: 0.00%
Persentase nilai null pada kolom V294: 0.00%
Persentase nilai null pada kolom V295: 0.00%
Persentase nilai null pada kolom V296: 0.21%
Persentase nilai null pada kolom V297: 0.00%
Persentase nilai null pada kolom V298: 0.00%
Persentase nilai null pada kolom V299: 0.00%
Persentase nilai null pada kolom V300: 0.21%
Persentase nilai null pada kolom V301: 0.21%
Persentase nilai null pada kolom V302: 0.00%
Persentase nilai null pada kolom V303: 0.00%
Persentase nilai null pada kolom V304: 0.00%
Persentase nilai null pada kolom V305: 0.00%
Persentase nilai null pada kolom V306: 0.00%
Persentase nilai null pada kolom V307: 0.00%
Persentase nilai null pada kolom V308: 0.00%
Persentase nilai null pada kolom V309: 0.00%
Persentase nilai null pada kolom V310: 0.00%
Persentase nilai null pada kolom V311: 0.00%
Persentase nilai null pada kolom V312: 0.00%
Persentase nilai null pada kolom V313: 0.21%
Persentase nilai null pada kolom V314: 0.21%
Persentase nilai null pada kolom V315: 0.21%
Persentase nilai null pada kolom V316: 0.00%
Persentase nilai null pada kolom V317: 0.00%
Persentase nilai null pada kolom V318: 0.00%
Persentase nilai null pada kolom V319: 0.00%
Persentase nilai null pada kolom V320: 0.00%
Persentase nilai null pada kolom V321: 0.00%
Persentase nilai null pada kolom V322: 86.05%
Persentase nilai null pada kolom V323: 86.05%
Persentase nilai null pada kolom V324: 86.05%
Persentase nilai null pada kolom V325: 86.05%
Persentase nilai null pada kolom V326: 86.05%
Persentase nilai null pada kolom V327: 86.05%
Persentase nilai null pada kolom V328: 86.05%
Persentase nilai null pada kolom V329: 86.05%
Persentase nilai null pada kolom V330: 86.05%
Persentase nilai null pada kolom V331: 86.05%
Persentase nilai null pada kolom V332: 86.05%
Persentase nilai null pada kolom V333: 86.05%
Persentase nilai null pada kolom V334: 86.05%
Persentase nilai null pada kolom V335: 86.05%
Persentase nilai null pada kolom V336: 86.05%
Persentase nilai null pada kolom V337: 86.05%
Persentase nilai null pada kolom V338: 86.05%
Persentase nilai null pada kolom V339: 86.05%
Persentase nilai null pada kolom id_01: 75.58%
Persentase nilai null pada kolom id_02: 76.15%
Persentase nilai null pada kolom id_03: 88.77%
Persentase nilai null pada kolom id_04: 88.77%
Persentase nilai null pada kolom id_05: 76.82%
Persentase nilai null pada kolom id_06: 76.82%
Persentase nilai null pada kolom id_07: 99.13%
Persentase nilai null pada kolom id_08: 99.13%
Persentase nilai null pada kolom id_09: 87.31%
Persentase nilai null pada kolom id_10: 87.31%
Persentase nilai null pada kolom id_11: 76.13%
Persentase nilai null pada kolom id_12: 75.58%
Persentase nilai null pada kolom id_13: 78.44%
Persentase nilai null pada kolom id_14: 86.45%
Persentase nilai null pada kolom id_15: 76.13%
Persentase nilai null pada kolom id_16: 78.10%
Persentase nilai null pada kolom id_17: 76.40%
Persentase nilai null pada kolom id_18: 92.36%
Persentase nilai null pada kolom id_19: 76.41%
Persentase nilai null pada kolom id_20: 76.42%
Persentase nilai null pada kolom id_21: 99.13%
Persentase nilai null pada kolom id_22: 99.12%
Persentase nilai null pada kolom id_23: 99.12%
Persentase nilai null pada kolom id_24: 99.20%
Persentase nilai null pada kolom id_25: 99.13%
Persentase nilai null pada kolom id_26: 99.13%
Persentase nilai null pada kolom id_27: 99.12%
Persentase nilai null pada kolom id_28: 76.13%
Persentase nilai null pada kolom id_29: 76.13%
Persentase nilai null pada kolom id_30: 86.87%
Persentase nilai null pada kolom id_31: 76.25%
Persentase nilai null pada kolom id_32: 86.86%
Persentase nilai null pada kolom id_33: 87.59%
Persentase nilai null pada kolom id_34: 86.82%
Persentase nilai null pada kolom id_35: 76.13%
Persentase nilai null pada kolom id_36: 76.13%
Persentase nilai null pada kolom id_37: 76.13%
Persentase nilai null pada kolom id_38: 76.13%
Persentase nilai null pada kolom DeviceType: 76.16%
Persentase nilai null pada kolom DeviceInfo: 79.91%

In [8]:
#Drop kolom yang tidak dibutuhkan
columns_drop = ['TransactionID', 'TransactionDT']
train_set.drop(columns_drop, axis=1, inplace=True)

In [9]:
# Menghitung persentase nilai null pada setiap kolom
null_percentages = train_set.isnull().mean() * 100

# Mengidentifikasi kolom-kolom dengan persentase nilai null di atas 50%
columns_to_drop = null_percentages[null_percentages > 50].index

# Menghapus kolom-kolom yang memiliki persentase nilai null di atas 50%
df_train = train_set.drop(columns=columns_to_drop)

In [10]:
# Sanity Check Hasil Menghapus kolom dengan nilai null diatas 50%
for column in df_train.columns:
    null_percentage = df_train[column].isnull().mean() * 100
    print(f"Persentase nilai null pada kolom {column}: {null_percentage:.2f}%")

Persentase nilai null pada kolom isFraud: 0.00%
Persentase nilai null pada kolom TransactionAmt: 0.00%
Persentase nilai null pada kolom ProductCD: 0.00%
Persentase nilai null pada kolom card1: 0.00%
Persentase nilai null pada kolom card2: 1.51%
Persentase nilai null pada kolom card3: 0.27%
Persentase nilai null pada kolom card4: 0.27%
Persentase nilai null pada kolom card5: 0.72%
Persentase nilai null pada kolom card6: 0.27%
Persentase nilai null pada kolom addr1: 11.13%
Persentase nilai null pada kolom addr2: 11.13%
Persentase nilai null pada kolom P_emaildomain: 15.99%
Persentase nilai null pada kolom C1: 0.00%
Persentase nilai null pada kolom C2: 0.00%
Persentase nilai null pada kolom C3: 0.00%
Persentase nilai null pada kolom C4: 0.00%
Persentase nilai null pada kolom C5: 0.00%
Persentase nilai null pada kolom C6: 0.00%
Persentase nilai null pada kolom C7: 0.00%
Persentase nilai null pada kolom C8: 0.00%
Persentase nilai null pada kolom C9: 0.00%
Persentase nilai null pada kolom C10: 0.00%
Persentase nilai null pada kolom C11: 0.00%
Persentase nilai null pada kolom C12: 0.00%
Persentase nilai null pada kolom C13: 0.00%
Persentase nilai null pada kolom C14: 0.00%
Persentase nilai null pada kolom D1: 0.21%
Persentase nilai null pada kolom D2: 47.55%
Persentase nilai null pada kolom D3: 44.51%
Persentase nilai null pada kolom D4: 28.60%
Persentase nilai null pada kolom D10: 12.87%
Persentase nilai null pada kolom D11: 47.29%
Persentase nilai null pada kolom D15: 15.09%
Persentase nilai null pada kolom M1: 45.91%
Persentase nilai null pada kolom M2: 45.91%
Persentase nilai null pada kolom M3: 45.91%
Persentase nilai null pada kolom M4: 47.66%
Persentase nilai null pada kolom M6: 28.68%
Persentase nilai null pada kolom V1: 47.29%
Persentase nilai null pada kolom V2: 47.29%
Persentase nilai null pada kolom V3: 47.29%
Persentase nilai null pada kolom V4: 47.29%
Persentase nilai null pada kolom V5: 47.29%
Persentase nilai null pada kolom V6: 47.29%
Persentase nilai null pada kolom V7: 47.29%
Persentase nilai null pada kolom V8: 47.29%
Persentase nilai null pada kolom V9: 47.29%
Persentase nilai null pada kolom V10: 47.29%
Persentase nilai null pada kolom V11: 47.29%
Persentase nilai null pada kolom V12: 12.88%
Persentase nilai null pada kolom V13: 12.88%
Persentase nilai null pada kolom V14: 12.88%
Persentase nilai null pada kolom V15: 12.88%
Persentase nilai null pada kolom V16: 12.88%
Persentase nilai null pada kolom V17: 12.88%
Persentase nilai null pada kolom V18: 12.88%
Persentase nilai null pada kolom V19: 12.88%
Persentase nilai null pada kolom V20: 12.88%
Persentase nilai null pada kolom V21: 12.88%
Persentase nilai null pada kolom V22: 12.88%
Persentase nilai null pada kolom V23: 12.88%
Persentase nilai null pada kolom V24: 12.88%
Persentase nilai null pada kolom V25: 12.88%
Persentase nilai null pada kolom V26: 12.88%
Persentase nilai null pada kolom V27: 12.88%
Persentase nilai null pada kolom V28: 12.88%
Persentase nilai null pada kolom V29: 12.88%
Persentase nilai null pada kolom V30: 12.88%
Persentase nilai null pada kolom V31: 12.88%
Persentase nilai null pada kolom V32: 12.88%
Persentase nilai null pada kolom V33: 12.88%
Persentase nilai null pada kolom V34: 12.88%
Persentase nilai null pada kolom V35: 28.61%
Persentase nilai null pada kolom V36: 28.61%
Persentase nilai null pada kolom V37: 28.61%
Persentase nilai null pada kolom V38: 28.61%
Persentase nilai null pada kolom V39: 28.61%
Persentase nilai null pada kolom V40: 28.61%
Persentase nilai null pada kolom V41: 28.61%
Persentase nilai null pada kolom V42: 28.61%
Persentase nilai null pada kolom V43: 28.61%
Persentase nilai null pada kolom V44: 28.61%
Persentase nilai null pada kolom V45: 28.61%
Persentase nilai null pada kolom V46: 28.61%
Persentase nilai null pada kolom V47: 28.61%
Persentase nilai null pada kolom V48: 28.61%
Persentase nilai null pada kolom V49: 28.61%
Persentase nilai null pada kolom V50: 28.61%
Persentase nilai null pada kolom V51: 28.61%
Persentase nilai null pada kolom V52: 28.61%
Persentase nilai null pada kolom V53: 13.06%
Persentase nilai null pada kolom V54: 13.06%
Persentase nilai null pada kolom V55: 13.06%
Persentase nilai null pada kolom V56: 13.06%
Persentase nilai null pada kolom V57: 13.06%
Persentase nilai null pada kolom V58: 13.06%
Persentase nilai null pada kolom V59: 13.06%
Persentase nilai null pada kolom V60: 13.06%
Persentase nilai null pada kolom V61: 13.06%
Persentase nilai null pada kolom V62: 13.06%
Persentase nilai null pada kolom V63: 13.06%
Persentase nilai null pada kolom V64: 13.06%
Persentase nilai null pada kolom V65: 13.06%
Persentase nilai null pada kolom V66: 13.06%
Persentase nilai null pada kolom V67: 13.06%
Persentase nilai null pada kolom V68: 13.06%
Persentase nilai null pada kolom V69: 13.06%
Persentase nilai null pada kolom V70: 13.06%
Persentase nilai null pada kolom V71: 13.06%
Persentase nilai null pada kolom V72: 13.06%
Persentase nilai null pada kolom V73: 13.06%
Persentase nilai null pada kolom V74: 13.06%
Persentase nilai null pada kolom V75: 15.10%
Persentase nilai null pada kolom V76: 15.10%
Persentase nilai null pada kolom V77: 15.10%
Persentase nilai null pada kolom V78: 15.10%
Persentase nilai null pada kolom V79: 15.10%
Persentase nilai null pada kolom V80: 15.10%
Persentase nilai null pada kolom V81: 15.10%
Persentase nilai null pada kolom V82: 15.10%
Persentase nilai null pada kolom V83: 15.10%
Persentase nilai null pada kolom V84: 15.10%
Persentase nilai null pada kolom V85: 15.10%
Persentase nilai null pada kolom V86: 15.10%
Persentase nilai null pada kolom V87: 15.10%
Persentase nilai null pada kolom V88: 15.10%
Persentase nilai null pada kolom V89: 15.10%
Persentase nilai null pada kolom V90: 15.10%
Persentase nilai null pada kolom V91: 15.10%
Persentase nilai null pada kolom V92: 15.10%
Persentase nilai null pada kolom V93: 15.10%
Persentase nilai null pada kolom V94: 15.10%
Persentase nilai null pada kolom V95: 0.05%
Persentase nilai null pada kolom V96: 0.05%
Persentase nilai null pada kolom V97: 0.05%
Persentase nilai null pada kolom V98: 0.05%
Persentase nilai null pada kolom V99: 0.05%
Persentase nilai null pada kolom V100: 0.05%
Persentase nilai null pada kolom V101: 0.05%
Persentase nilai null pada kolom V102: 0.05%
Persentase nilai null pada kolom V103: 0.05%
Persentase nilai null pada kolom V104: 0.05%
Persentase nilai null pada kolom V105: 0.05%
Persentase nilai null pada kolom V106: 0.05%
Persentase nilai null pada kolom V107: 0.05%
Persentase nilai null pada kolom V108: 0.05%
Persentase nilai null pada kolom V109: 0.05%
Persentase nilai null pada kolom V110: 0.05%
Persentase nilai null pada kolom V111: 0.05%
Persentase nilai null pada kolom V112: 0.05%
Persentase nilai null pada kolom V113: 0.05%
Persentase nilai null pada kolom V114: 0.05%
Persentase nilai null pada kolom V115: 0.05%
Persentase nilai null pada kolom V116: 0.05%
Persentase nilai null pada kolom V117: 0.05%
Persentase nilai null pada kolom V118: 0.05%
Persentase nilai null pada kolom V119: 0.05%
Persentase nilai null pada kolom V120: 0.05%
Persentase nilai null pada kolom V121: 0.05%
Persentase nilai null pada kolom V122: 0.05%
Persentase nilai null pada kolom V123: 0.05%
Persentase nilai null pada kolom V124: 0.05%
Persentase nilai null pada kolom V125: 0.05%
Persentase nilai null pada kolom V126: 0.05%
Persentase nilai null pada kolom V127: 0.05%
Persentase nilai null pada kolom V128: 0.05%
Persentase nilai null pada kolom V129: 0.05%
Persentase nilai null pada kolom V130: 0.05%
Persentase nilai null pada kolom V131: 0.05%
Persentase nilai null pada kolom V132: 0.05%
Persentase nilai null pada kolom V133: 0.05%
Persentase nilai null pada kolom V134: 0.05%
Persentase nilai null pada kolom V135: 0.05%
Persentase nilai null pada kolom V136: 0.05%
Persentase nilai null pada kolom V137: 0.05%
Persentase nilai null pada kolom V279: 0.00%
Persentase nilai null pada kolom V280: 0.00%
Persentase nilai null pada kolom V281: 0.21%
Persentase nilai null pada kolom V282: 0.21%
Persentase nilai null pada kolom V283: 0.21%
Persentase nilai null pada kolom V284: 0.00%
Persentase nilai null pada kolom V285: 0.00%
Persentase nilai null pada kolom V286: 0.00%
Persentase nilai null pada kolom V287: 0.00%
Persentase nilai null pada kolom V288: 0.21%
Persentase nilai null pada kolom V289: 0.21%
Persentase nilai null pada kolom V290: 0.00%
Persentase nilai null pada kolom V291: 0.00%
Persentase nilai null pada kolom V292: 0.00%
Persentase nilai null pada kolom V293: 0.00%
Persentase nilai null pada kolom V294: 0.00%
Persentase nilai null pada kolom V295: 0.00%
Persentase nilai null pada kolom V296: 0.21%
Persentase nilai null pada kolom V297: 0.00%
Persentase nilai null pada kolom V298: 0.00%
Persentase nilai null pada kolom V299: 0.00%
Persentase nilai null pada kolom V300: 0.21%
Persentase nilai null pada kolom V301: 0.21%
Persentase nilai null pada kolom V302: 0.00%
Persentase nilai null pada kolom V303: 0.00%
Persentase nilai null pada kolom V304: 0.00%
Persentase nilai null pada kolom V305: 0.00%
Persentase nilai null pada kolom V306: 0.00%
Persentase nilai null pada kolom V307: 0.00%
Persentase nilai null pada kolom V308: 0.00%
Persentase nilai null pada kolom V309: 0.00%
Persentase nilai null pada kolom V310: 0.00%
Persentase nilai null pada kolom V311: 0.00%
Persentase nilai null pada kolom V312: 0.00%
Persentase nilai null pada kolom V313: 0.21%
Persentase nilai null pada kolom V314: 0.21%
Persentase nilai null pada kolom V315: 0.21%
Persentase nilai null pada kolom V316: 0.00%
Persentase nilai null pada kolom V317: 0.00%
Persentase nilai null pada kolom V318: 0.00%
Persentase nilai null pada kolom V319: 0.00%
Persentase nilai null pada kolom V320: 0.00%
Persentase nilai null pada kolom V321: 0.00%

## Data Defense

Data Defense merupakan konsep dan praktik yang bertujuan untuk menjaga, melindungi, dan meningkatkan integritas, keamanan, dan kualitas data yang digunakan dalam suatu workflow machine learning. Data Defense menjadi penting karena kualitas data yang baik menjadi landasan utama bagi pembuatan model machine learning yang akurat dan dapat diandalkan.

In [11]:
# melihat unique value pada kolom kategori

# Menggunakan loop untuk melihat unique value pada masing-masing kolom
for column in df_train.columns:
    if df_train[column].dtype == 'object':
        unique_values = df_train[column].unique()
        print(f"Unique values for column {column}:")
        print(unique_values)
        print('\n')

Unique values for column ProductCD:
['W' 'H' 'C' 'S' 'R']


Unique values for column card4:
['discover' 'mastercard' 'visa' 'american express' nan]


Unique values for column card6:
['credit' 'debit' nan 'debit or credit' 'charge card']


Unique values for column P_emaildomain:
[nan 'gmail.com' 'outlook.com' 'yahoo.com' 'mail.com' 'anonymous.com'
 'hotmail.com' 'verizon.net' 'aol.com' 'me.com' 'comcast.net'
 'optonline.net' 'cox.net' 'charter.net' 'rocketmail.com' 'prodigy.net.mx'
 'embarqmail.com' 'icloud.com' 'live.com.mx' 'gmail' 'live.com' 'att.net'
 'juno.com' 'ymail.com' 'sbcglobal.net' 'bellsouth.net' 'msn.com' 'q.com'
 'yahoo.com.mx' 'centurylink.net' 'servicios-ta.com' 'earthlink.net'
 'hotmail.es' 'cfl.rr.com' 'roadrunner.com' 'netzero.net' 'gmx.de'
 'suddenlink.net' 'frontiernet.net' 'windstream.net' 'frontier.com'
 'outlook.es' 'mac.com' 'netzero.com' 'aim.com' 'web.de' 'twc.com'
 'cableone.net' 'yahoo.fr' 'yahoo.de' 'yahoo.es' 'sc.rr.com' 'ptd.net'
 'live.fr' 'yahoo.co.uk' 'hotmail.fr' 'hotmail.de' 'hotmail.co.uk'
 'protonmail.com' 'yahoo.co.jp']


Unique values for column M1:
['T' nan 'F']


Unique values for column M2:
['T' nan 'F']


Unique values for column M3:
['T' nan 'F']


Unique values for column M4:
['M2' 'M0' nan 'M1']


Unique values for column M6:
['T' 'F' nan]

In [12]:
# Mengambil kolom-kolom numerik
numeric_columns = df_train.select_dtypes(include=['float64', 'int64'])

# Menampilkan rentang nilai pada masing-masing kolom
for column in numeric_columns.columns:
    min_value = numeric_columns[column].min()
    max_value = numeric_columns[column].max()
    print(f"Rentang nilai pada kolom {column}: {min_value} - {max_value}")

Rentang nilai pada kolom isFraud: 0 - 1
Rentang nilai pada kolom TransactionAmt: 0.251 - 31937.391
Rentang nilai pada kolom card1: 1000 - 18396
Rentang nilai pada kolom card2: 100.0 - 600.0
Rentang nilai pada kolom card3: 100.0 - 231.0
Rentang nilai pada kolom card5: 100.0 - 237.0
Rentang nilai pada kolom addr1: 100.0 - 540.0
Rentang nilai pada kolom addr2: 10.0 - 102.0
Rentang nilai pada kolom C1: 0.0 - 4685.0
Rentang nilai pada kolom C2: 0.0 - 5691.0
Rentang nilai pada kolom C3: 0.0 - 26.0
Rentang nilai pada kolom C4: 0.0 - 2253.0
Rentang nilai pada kolom C5: 0.0 - 349.0
Rentang nilai pada kolom C6: 0.0 - 2253.0
Rentang nilai pada kolom C7: 0.0 - 2255.0
Rentang nilai pada kolom C8: 0.0 - 3331.0
Rentang nilai pada kolom C9: 0.0 - 210.0
Rentang nilai pada kolom C10: 0.0 - 3257.0
Rentang nilai pada kolom C11: 0.0 - 3188.0
Rentang nilai pada kolom C12: 0.0 - 3188.0
Rentang nilai pada kolom C13: 0.0 - 2918.0
Rentang nilai pada kolom C14: 0.0 - 1429.0
Rentang nilai pada kolom D1: 0.0 - 640.0
Rentang nilai pada kolom D2: 0.0 - 640.0
Rentang nilai pada kolom D3: 0.0 - 819.0
Rentang nilai pada kolom D4: -122.0 - 869.0
Rentang nilai pada kolom D10: 0.0 - 876.0
Rentang nilai pada kolom D11: -53.0 - 670.0
Rentang nilai pada kolom D15: -83.0 - 879.0
Rentang nilai pada kolom V1: 0.0 - 1.0
Rentang nilai pada kolom V2: 0.0 - 8.0
Rentang nilai pada kolom V3: 0.0 - 9.0
Rentang nilai pada kolom V4: 0.0 - 6.0
Rentang nilai pada kolom V5: 0.0 - 6.0
Rentang nilai pada kolom V6: 0.0 - 9.0
Rentang nilai pada kolom V7: 0.0 - 9.0
Rentang nilai pada kolom V8: 0.0 - 8.0
Rentang nilai pada kolom V9: 0.0 - 8.0
Rentang nilai pada kolom V10: 0.0 - 4.0
Rentang nilai pada kolom V11: 0.0 - 5.0
Rentang nilai pada kolom V12: 0.0 - 3.0
Rentang nilai pada kolom V13: 0.0 - 6.0
Rentang nilai pada kolom V14: 0.0 - 1.0
Rentang nilai pada kolom V15: 0.0 - 7.0
Rentang nilai pada kolom V16: 0.0 - 15.0
Rentang nilai pada kolom V17: 0.0 - 15.0
Rentang nilai pada kolom V18: 0.0 - 15.0
Rentang nilai pada kolom V19: 0.0 - 7.0
Rentang nilai pada kolom V20: 0.0 - 15.0
Rentang nilai pada kolom V21: 0.0 - 5.0
Rentang nilai pada kolom V22: 0.0 - 8.0
Rentang nilai pada kolom V23: 0.0 - 13.0
Rentang nilai pada kolom V24: 0.0 - 13.0
Rentang nilai pada kolom V25: 0.0 - 7.0
Rentang nilai pada kolom V26: 0.0 - 13.0
Rentang nilai pada kolom V27: 0.0 - 4.0
Rentang nilai pada kolom V28: 0.0 - 4.0
Rentang nilai pada kolom V29: 0.0 - 5.0
Rentang nilai pada kolom V30: 0.0 - 9.0
Rentang nilai pada kolom V31: 0.0 - 7.0
Rentang nilai pada kolom V32: 0.0 - 15.0
Rentang nilai pada kolom V33: 0.0 - 7.0
Rentang nilai pada kolom V34: 0.0 - 13.0
Rentang nilai pada kolom V35: 0.0 - 3.0
Rentang nilai pada kolom V36: 0.0 - 5.0
Rentang nilai pada kolom V37: 0.0 - 54.0
Rentang nilai pada kolom V38: 0.0 - 54.0
Rentang nilai pada kolom V39: 0.0 - 15.0
Rentang nilai pada kolom V40: 0.0 - 24.0
Rentang nilai pada kolom V41: 0.0 - 1.0
Rentang nilai pada kolom V42: 0.0 - 8.0
Rentang nilai pada kolom V43: 0.0 - 8.0
Rentang nilai pada kolom V44: 0.0 - 48.0
Rentang nilai pada kolom V45: 0.0 - 48.0
Rentang nilai pada kolom V46: 0.0 - 6.0
Rentang nilai pada kolom V47: 0.0 - 12.0
Rentang nilai pada kolom V48: 0.0 - 5.0
Rentang nilai pada kolom V49: 0.0 - 5.0
Rentang nilai pada kolom V50: 0.0 - 5.0
Rentang nilai pada kolom V51: 0.0 - 6.0
Rentang nilai pada kolom V52: 0.0 - 12.0
Rentang nilai pada kolom V53: 0.0 - 5.0
Rentang nilai pada kolom V54: 0.0 - 6.0
Rentang nilai pada kolom V55: 0.0 - 17.0
Rentang nilai pada kolom V56: 0.0 - 51.0
Rentang nilai pada kolom V57: 0.0 - 6.0
Rentang nilai pada kolom V58: 0.0 - 10.0
Rentang nilai pada kolom V59: 0.0 - 16.0
Rentang nilai pada kolom V60: 0.0 - 16.0
Rentang nilai pada kolom V61: 0.0 - 6.0
Rentang nilai pada kolom V62: 0.0 - 10.0
Rentang nilai pada kolom V63: 0.0 - 7.0
Rentang nilai pada kolom V64: 0.0 - 7.0
Rentang nilai pada kolom V65: 0.0 - 1.0
Rentang nilai pada kolom V66: 0.0 - 7.0
Rentang nilai pada kolom V67: 0.0 - 8.0
Rentang nilai pada kolom V68: 0.0 - 2.0
Rentang nilai pada kolom V69: 0.0 - 5.0
Rentang nilai pada kolom V70: 0.0 - 6.0
Rentang nilai pada kolom V71: 0.0 - 6.0
Rentang nilai pada kolom V72: 0.0 - 10.0
Rentang nilai pada kolom V73: 0.0 - 7.0
Rentang nilai pada kolom V74: 0.0 - 8.0
Rentang nilai pada kolom V75: 0.0 - 4.0
Rentang nilai pada kolom V76: 0.0 - 6.0
Rentang nilai pada kolom V77: 0.0 - 30.0
Rentang nilai pada kolom V78: 0.0 - 31.0
Rentang nilai pada kolom V79: 0.0 - 7.0
Rentang nilai pada kolom V80: 0.0 - 19.0
Rentang nilai pada kolom V81: 0.0 - 19.0
Rentang nilai pada kolom V82: 0.0 - 7.0
Rentang nilai pada kolom V83: 0.0 - 7.0
Rentang nilai pada kolom V84: 0.0 - 7.0
Rentang nilai pada kolom V85: 0.0 - 7.0
Rentang nilai pada kolom V86: 0.0 - 30.0
Rentang nilai pada kolom V87: 0.0 - 30.0
Rentang nilai pada kolom V88: 0.0 - 1.0
Rentang nilai pada kolom V89: 0.0 - 2.0
Rentang nilai pada kolom V90: 0.0 - 5.0
Rentang nilai pada kolom V91: 0.0 - 6.0
Rentang nilai pada kolom V92: 0.0 - 7.0
Rentang nilai pada kolom V93: 0.0 - 7.0
Rentang nilai pada kolom V94: 0.0 - 2.0
Rentang nilai pada kolom V95: 0.0 - 880.0
Rentang nilai pada kolom V96: 0.0 - 1410.0
Rentang nilai pada kolom V97: 0.0 - 976.0
Rentang nilai pada kolom V98: 0.0 - 12.0
Rentang nilai pada kolom V99: 0.0 - 88.0
Rentang nilai pada kolom V100: 0.0 - 28.0
Rentang nilai pada kolom V101: 0.0 - 869.0
Rentang nilai pada kolom V102: 0.0 - 1285.0
Rentang nilai pada kolom V103: 0.0 - 928.0
Rentang nilai pada kolom V104: 0.0 - 15.0
Rentang nilai pada kolom V105: 0.0 - 99.0
Rentang nilai pada kolom V106: 0.0 - 55.0
Rentang nilai pada kolom V107: 0.0 - 1.0
Rentang nilai pada kolom V108: 0.0 - 7.0
Rentang nilai pada kolom V109: 0.0 - 7.0
Rentang nilai pada kolom V110: 0.0 - 7.0
Rentang nilai pada kolom V111: 0.0 - 9.0
Rentang nilai pada kolom V112: 0.0 - 9.0
Rentang nilai pada kolom V113: 0.0 - 9.0
Rentang nilai pada kolom V114: 0.0 - 6.0
Rentang nilai pada kolom V115: 0.0 - 6.0
Rentang nilai pada kolom V116: 0.0 - 6.0
Rentang nilai pada kolom V117: 0.0 - 3.0
Rentang nilai pada kolom V118: 0.0 - 3.0
Rentang nilai pada kolom V119: 0.0 - 3.0
Rentang nilai pada kolom V120: 0.0 - 3.0
Rentang nilai pada kolom V121: 0.0 - 3.0
Rentang nilai pada kolom V122: 0.0 - 3.0
Rentang nilai pada kolom V123: 0.0 - 13.0
Rentang nilai pada kolom V124: 0.0 - 13.0
Rentang nilai pada kolom V125: 0.0 - 13.0
Rentang nilai pada kolom V126: 0.0 - 160000.0
Rentang nilai pada kolom V127: 0.0 - 160000.0
Rentang nilai pada kolom V128: 0.0 - 160000.0
Rentang nilai pada kolom V129: 0.0 - 55125.0
Rentang nilai pada kolom V130: 0.0 - 55125.0
Rentang nilai pada kolom V131: 0.0 - 55125.0
Rentang nilai pada kolom V132: 0.0 - 93736.0
Rentang nilai pada kolom V133: 0.0 - 133915.0
Rentang nilai pada kolom V134: 0.0 - 98476.0
Rentang nilai pada kolom V135: 0.0 - 90750.0
Rentang nilai pada kolom V136: 0.0 - 90750.0
Rentang nilai pada kolom V137: 0.0 - 90750.0
Rentang nilai pada kolom V279: 0.0 - 880.0
Rentang nilai pada kolom V280: 0.0 - 975.0
Rentang nilai pada kolom V281: 0.0 - 22.0
Rentang nilai pada kolom V282: 0.0 - 32.0
Rentang nilai pada kolom V283: 0.0 - 68.0
Rentang nilai pada kolom V284: 0.0 - 12.0
Rentang nilai pada kolom V285: 0.0 - 95.0
Rentang nilai pada kolom V286: 0.0 - 8.0
Rentang nilai pada kolom V287: 0.0 - 31.0
Rentang nilai pada kolom V288: 0.0 - 10.0
Rentang nilai pada kolom V289: 0.0 - 12.0
Rentang nilai pada kolom V290: 1.0 - 67.0
Rentang nilai pada kolom V291: 1.0 - 1055.0
Rentang nilai pada kolom V292: 1.0 - 323.0
Rentang nilai pada kolom V293: 0.0 - 869.0
Rentang nilai pada kolom V294: 0.0 - 1286.0
Rentang nilai pada kolom V295: 0.0 - 928.0
Rentang nilai pada kolom V296: 0.0 - 93.0
Rentang nilai pada kolom V297: 0.0 - 12.0
Rentang nilai pada kolom V298: 0.0 - 93.0
Rentang nilai pada kolom V299: 0.0 - 49.0
Rentang nilai pada kolom V300: 0.0 - 11.0
Rentang nilai pada kolom V301: 0.0 - 13.0
Rentang nilai pada kolom V302: 0.0 - 16.0
Rentang nilai pada kolom V303: 0.0 - 20.0
Rentang nilai pada kolom V304: 0.0 - 16.0
Rentang nilai pada kolom V305: 1.0 - 2.0
Rentang nilai pada kolom V306: 0.0 - 108800.0
Rentang nilai pada kolom V307: 0.0 - 145765.0
Rentang nilai pada kolom V308: 0.0 - 108800.0
Rentang nilai pada kolom V309: 0.0 - 55125.0
Rentang nilai pada kolom V310: 0.0 - 55125.0
Rentang nilai pada kolom V311: 0.0 - 55125.0
Rentang nilai pada kolom V312: 0.0 - 55125.0
Rentang nilai pada kolom V313: 0.0 - 4817.47021484375
Rentang nilai pada kolom V314: 0.0 - 7519.8701171875
Rentang nilai pada kolom V315: 0.0 - 4817.47021484375
Rentang nilai pada kolom V316: 0.0 - 93736.0
Rentang nilai pada kolom V317: 0.0 - 134021.0
Rentang nilai pada kolom V318: 0.0 - 98476.0
Rentang nilai pada kolom V319: 0.0 - 104060.0
Rentang nilai pada kolom V320: 0.0 - 104060.0
Rentang nilai pada kolom V321: 0.0 - 104060.0

## Data Splitting

Data Splitting adalah membagi dataset menjadi subset yang berbeda untuk keperluan pelatihan (training), validasi (validation), dan evaluasi (testing) model machine learning.

In [13]:
# Pemisahan Variabel X dan Y
X = df_train.drop(columns = "isFraud")
y = df_train["isFraud"]

In [14]:
# Sanity Check
X

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,68.50,W,13926,NaN,150.0,discover,142.0,credit,315.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,117.0,0.0,0.000000,0.000000,0.000000
1,29.00,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
2,59.00,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,50.00,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,...,135.0,0.000000,0.000000,0.000000,50.0,1404.0,790.0,0.000000,0.000000,0.000000
4,50.00,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,49.00,W,6550,NaN,150.0,visa,226.0,debit,272.0,87.0,...,0.0,47.950001,47.950001,47.950001,0.0,0.0,0.0,0.000000,0.000000,0.000000
590536,39.50,W,10444,225.0,150.0,mastercard,224.0,debit,204.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
590537,30.95,W,12037,595.0,150.0,mastercard,224.0,debit,231.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
590538,117.00,W,7826,481.0,150.0,mastercard,224.0,debit,387.0,87.0,...,117.0,317.500000,669.500000,317.500000,0.0,2234.0,0.0,0.000000,0.000000,0.000000
590539,279.95,W,15066,170.0,150.0,mastercard,102.0,credit,299.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,279.950012,279.950012,279.950012

In [15]:
# Sanity Check
y

0         0
1         0
2         0
3         0
4         0
         ..
590535    0
590536    0
590537    0
590538    0
590539    0
Name: isFraud, Length: 590540, dtype: int64

In [16]:
#Split Data 70% training 30% testing & validation
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3,
                                                    random_state = 123)

In [17]:
#Sanity Check
X_train

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
378585,59.000,W,6470,111.0,150.0,visa,226.0,debit,299.0,87.0,...,102.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
85054,39.000,W,7826,481.0,150.0,mastercard,224.0,debit,184.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
442830,48.950,W,3070,537.0,150.0,visa,226.0,debit,315.0,87.0,...,0.0,36.950001,36.950001,36.950001,0.0,0.0,0.0,0.000000,0.000000,0.000000
448182,3224.450,W,9803,583.0,150.0,visa,226.0,credit,264.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,6448.899902,6448.899902,6448.899902
390346,34.000,W,13139,512.0,150.0,mastercard,224.0,debit,143.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194278,59.000,W,3277,111.0,150.0,visa,226.0,debit,231.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
192476,100.000,H,7585,553.0,150.0,visa,226.0,credit,299.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
17730,47.732,C,10086,500.0,185.0,mastercard,224.0,credit,431.0,60.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
28030,25.000,W,6933,477.0,150.0,mastercard,117.0,debit,204.0,87.0,...,119.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
277869,107.950,W,14290,512.0,150.0,visa,226.0,debit,177.0,87.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [18]:
#Sanity Check
y_train

378585    0
85054     0
442830    0
448182    0
390346    0
         ..
194278    0
192476    0
17730     1
28030     0
277869    0
Name: isFraud, Length: 413378, dtype: int64

In [19]:
# Sanity Check 
X_test

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
462165,250.00,R,15497,490.0,150.0,visa,226.0,debit,299.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
153958,108.50,W,2706,555.0,150.0,visa,226.0,debit,170.0,87.0,...,0.000000,0.000000,0.000000,0.000000,117.0,117.0,117.0,0.0,0.0,0.0
31115,54.50,W,13481,199.0,150.0,mastercard,224.0,debit,123.0,87.0,...,59.000000,59.000000,59.000000,59.000000,0.0,0.0,0.0,0.0,0.0,0.0
488561,88.95,W,11727,301.0,150.0,mastercard,224.0,debit,485.0,87.0,...,26.950001,88.949997,115.900002,88.949997,0.0,0.0,0.0,0.0,0.0,0.0
559509,125.00,R,9530,554.0,150.0,visa,226.0,credit,191.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186074,107.95,W,14482,512.0,150.0,visa,226.0,debit,181.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
557005,311.95,W,11919,170.0,150.0,mastercard,224.0,debit,299.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
348947,280.00,W,7288,321.0,150.0,visa,226.0,debit,122.0,87.0,...,1356.000000,0.000000,0.000000,0.000000,280.0,3973.0,280.0,0.0,0.0,0.0
407320,57.95,W,9480,170.0,150.0,visa,226.0,debit,225.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
507145,200.00,R,9338,194.0,150.0,mastercard,203.0,credit,110.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
#Sanity Check
y_test

462165    0
153958    0
31115     0
488561    0
559509    0
         ..
186074    0
557005    0
348947    0
407320    0
507145    0
Name: isFraud, Length: 177162, dtype: int64

In [21]:
# Split data test menjadi test dan validation set
X_test, X_valid, y_test, y_valid = train_test_split(X_test, y_test, 
                                                    test_size=0.4, 
                                                    random_state=42,
                                                    stratify = y_test
                                                   )

In [22]:
#Sanity Check
X_test

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
504494,20.000,S,7919,194.0,150.0,mastercard,166.0,debit,203.0,87.0,...,25.0,25.0,25.0,25.0,0.0,0.0,0.0,50.0,50.0,50.0
454181,470.000,W,1804,161.0,150.0,mastercard,117.0,debit,123.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497372,66.030,C,2256,545.0,185.0,visa,226.0,credit,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
418123,82.950,W,7505,175.0,150.0,visa,226.0,debit,264.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
387902,30.950,W,9992,455.0,150.0,mastercard,126.0,debit,143.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171690,764.950,W,11690,111.0,150.0,visa,226.0,credit,299.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
478699,35.950,W,17400,174.0,150.0,visa,226.0,debit,123.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
351637,59.000,W,8953,321.0,150.0,visa,226.0,debit,441.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
300019,26.826,C,15885,545.0,185.0,visa,138.0,debit,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
434151,35.950,W,16255,470.0,150.0,mastercard,137.0,credit,441.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
#Sanity Check
y_test

504494    1
454181    0
497372    0
418123    0
387902    0
         ..
171690    0
478699    0
351637    0
300019    0
434151    0
Name: isFraud, Length: 106297, dtype: int64

In [24]:
#Sanity Check
X_valid

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
26703,100.000,W,7919,194.0,150.0,mastercard,202.0,debit,143.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
2877,82.950,W,11666,555.0,150.0,visa,226.0,debit,343.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
350334,100.000,R,3821,111.0,150.0,mastercard,219.0,credit,337.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
236126,107.950,W,18385,555.0,150.0,visa,226.0,debit,191.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
404743,209.950,W,18243,543.0,150.0,mastercard,224.0,debit,299.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280531,20.950,W,17188,321.0,150.0,visa,226.0,debit,299.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
516994,261.950,W,17188,321.0,150.0,visa,226.0,debit,299.0,87.0,...,107.949997,107.949997,107.949997,107.949997,523.900024,523.900024,523.900024,0.0,0.0,0.0
347517,49.000,W,17188,321.0,150.0,visa,226.0,debit,310.0,87.0,...,0.000000,98.000000,98.000000,98.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
34139,77.000,W,10112,360.0,150.0,visa,166.0,debit,272.0,87.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
320755,25.497,C,15885,545.0,185.0,visa,138.0,debit,NaN,NaN,...,0.000000,16.637800,16.637800,16.637800,25.497200,25.497200,25.497200,0.0,0.0,0.0

In [25]:
#Sanity Check
y_valid

26703     0
2877      0
350334    0
236126    0
404743    0
         ..
280531    0
516994    0
347517    0
34139     0
320755    0
Name: isFraud, Length: 70865, dtype: int64

## Final Result - Data Preparation

Ekspor Hasil data preparation dengan file pickle

In [26]:
util.pickle_dump(X_train, config_data["train_set_path"][0])
util.pickle_dump(y_train, config_data["train_set_path"][1])

util.pickle_dump(X_valid, config_data["valid_set_path"][0])
util.pickle_dump(y_valid, config_data["valid_set_path"][1])

util.pickle_dump(X_test, config_data["test_set_path"][0])
util.pickle_dump(y_test, config_data["test_set_path"][1])